<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="English-Thai Dictionary : พจนานุกรม อังกฤษ-ไทย" />
    <title>NwDict</title>

    <meta name="robots" content="NwDict, nwdict, Dictionary English-Thai, พจนานุกรม, อังกฤษ, ภาษาอังกฤษ, ไทย, ความหมาย, แปลว่า, คำแปล" />
    <meta name="googlebot" content="NwDict, nwdict, Dictionary English-Thai, พจนานุกรม, อังกฤษ, ภาษาอังกฤษ, ไทย, ความหมาย, แปลว่า, คำแปล" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?01bf19c35d2e2b6a1db88c65d6ae4710" />

    <link href="css/family.css?9ee9f9afa08cce49170f8f6faf357bd7" rel="stylesheet" />
    <link href="css/jqm-demos.css?6f7532e4c96971a1b9543fd1fdaecb02" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css" rel="stylesheet" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.0.1/async.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lokijs/1.4.1/lokijs.min.js"></script>-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>


    <script src="lib/xdr.js?5f4371c6efe34addf1fe487e61ac3669"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.1/socket.io.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>-->

    <script src="lib/step/step.js?437287db8e888e0d06ba594a5f61de69"></script>
    <script src="NwLib/NwSS.min.js?ecdbd9ca4543f257bb2676291d48305c"></script>
    <script src="NwLib/NwLib.js?3d0d5a8954725e2ae31ed64fc34b6155"></script>
    <script src="NwUtil/NwDataMsgObj.js?8c17204b946fa67bf76864424142c40a"></script>

    <script src="NwConn/NwWsClient.js?7c711f91f301e0342c11419a6c7e440a"></script>
    <script src="service_conn/NwMLabServiceConn.js?3825a1c4cb195bf276f1a2b94029c7af"></script>


    <script src="NwLogWords/logWords.js?79a8a54f0398951588b1a7333a53c70a"></script>
    <script src="NwConn/NwMLabApiConn.js?79e7d3500dc766d23f243f1be8fd43a7"></script>

    <script src="word/WordEachView.js?e52377be8de4d7f7a9f5f9881f776dee"></script>
    <script src="word/WordView.js?bffffed45bf4f8150a308418fa726b35"></script>
    <script src="word/WordModel.js?b37007604f02ab9d756ba17a22570f32"></script>
    <script src="word/WordCollection.js?86fa87fbbdae902ec0cfeda3f630ca7c"></script>

    <script src="index.js?f143fd500bb67c86e244bbe62d30bd87"></script>

</head>
<body>

    <div data-role="page" data-title="NwDict" class="jqm-demos ui-responsive-panel">
        <div data-role="header" data-position="fixed" data-theme="a">
            <!-- <a href="../toolbar/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>-->
            <h1>NwDict</h1>
            <a href="#search-panel" data-icon="search" data-iconpos="notext">Menu</a>
            <a id="seting" href="#add-form" data-icon="gear" data-iconpos="notext">Add</a>

            <!--  <form> 
            <label for="searchbar" class="ui-hidden-accessible">Search:</label>
            <input type="search" name="searchbar" id="search1" value="" data-theme="d" data-mini="true" />
        </form>-->

        </div>
        <!-- /header -->
        <div role="main" id="main" class="ui-content jqm-content jqm-fullwidth">

            <!--<div data-word="" class="tempword jqm-content">
                <h2>word</h2>
                <div>meaning</div>
                <br />
                <br />
            </div>

            <div class="wordeachview jqm-content">
                <h2>something <span style="color: rgb(215, 151, 0); font-size: 18px;">{                                                                                                   
                <span class="ipa color_h2" style="color: rgb(138, 192, 7); font-size: 18px;">eng</span>
                    ,
                <span class="ipa color_h3" style="color: rgb(255, 106, 0); font-size: 18px;">thai</span>
                    }               
                </span></h2>

                <div class="cont" style="font-size: 17px;">some thing</div>
                <br />
                <br />
            </div>-->

            <script type="text/template" id="WordTemplate">
            <h2><%- esearch %> <span style="color: rgb(215, 151, 0); font-size: 18px;">{                                                                                                   
                <span class="ipa color_h2" style="color: rgb(138, 192, 7); font-size: 18px;"><%- pros %></span>
                ,
                <span class="ipa color_h3" style="color: rgb(255, 106, 0); font-size: 18px;"><%- proThs %></span>
                }               
            </span></h2>

            <div class="cont" style="font-size: 17px;"></div>
            <br />
            <br />
            </script>
        </div>
        <!-- /content -->
        <div data-role="panel" data-display="push" data-theme="b" id="search-panel">

            <ul data-role="listview">
                <li>
                    <input type="search" data-theme="a" name="searchbar" id="search" data-mini="true" value="" placeholder="search" data-inline="true" autocapitalize="none">
                </li>
                <li id="searchWordTemp"><a href="#" class="searchWord">word</a></li>

            </ul>

        </div>
        <!-- /panel -->
    </div>
    <!-- /page -->
</body>
</html>
